@page "/learn"

<PageTitle>Learn</PageTitle>

<h1>Learning modules</h1>
<p class="text-muted">Interactive examples for key C# and .NET backend topics.</p>

<div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
        <DotNetBasicsBE.Features.Learning.OopModule />
    </div>
    <div class="col">
        <DotNetBasicsBE.Features.Learning.GarbageCollectorModule />
    </div>
    <div class="col">
        <DotNetBasicsBE.Features.Learning.LinqModule />
    </div>
    <div class="col">
        <DotNetBasicsBE.Features.Learning.AsyncAwaitModule />
    </div>
    <div class="col">
        <DotNetBasicsBE.Features.Learning.DiModule />
    </div>
</div>

<DotNetBasicsBE.UI.Components.LogPanel />
