@page "/learn"
@inject DotNetBasicsBE.Application.AppStateService AppState

<PageTitle>Learn</PageTitle>

<DotNetBasicsBE.UI.Components.PageHeader Title="@AppState.T("Moduły edukacyjne", "Learning modules")"
                                           Subtitle="@AppState.T("Interaktywne przykłady kluczowych zagadnień C# i .NET.", "Interactive examples for key C# and .NET backend topics.")" />

<div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
        <DotNetBasicsBE.Features.Learning.OopModule />
    </div>
    <div class="col">
        <DotNetBasicsBE.Features.Learning.GarbageCollectorModule />
    </div>
    <div class="col">
        <DotNetBasicsBE.Features.Learning.LinqModule />
    </div>
    <div class="col">
        <DotNetBasicsBE.Features.Learning.AsyncAwaitModule />
    </div>
    <div class="col">
        <DotNetBasicsBE.Features.Learning.DiModule />
    </div>
</div>

<DotNetBasicsBE.UI.Components.LogPanel />
